@font-face{
	font-family: "soy";
	src: url("font/soy.ttf");
}
@font-face{
	font-family: "seeds";
	src: url("font/seeds.ttf");
}
@font-face{
	font-family: "lgc";
	src: url("font/lgc.ttf");
}
p
{
	font-family: "lgc";
	font-size: 1.7em;
	text-align: justify;
}
h1
{
	margin-bottom: 0px;
	text-align: center;
}
body
{
	background: white;
	margin: 0;
}
header
{
	height: 250px;
	background: white;
	padding-left: 380px;
	padding-right: 25%;
}
.title h1
{
	margin-top: 0px;
	text-align: center;
	font-family: "seeds";
	font-size: 6em;
	color: #70cba4;
}
.logo_game
{
	display: flex;
	justify-content: center;
}
.main
{
	display: flex;
	justify-content: center;
	padding-left: 380px;
	width: 80%;
}

section
{
	display: flex;
}
article
{
	width: 100%;
	display: flex;
	flex-direction: column;
	border:solid;
	border-color: #e3c900;
	border-top: 1px;
	border-bottom: 1px;
	background: #fef4d5;
}
article h1
{
	top: 0;
	font-family: "lgc";
	font-size: 2em;
	background: #00b79b;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 0;
}
article p
{
	padding-left: 10px;
	padding-right: 10px;
}
.enval
{
	text-align: center;
	color: white;
	background: #00b79b;
	font-size: 2em;
}

section
{
	display: flex;
}

.presentation
{
	width: 30%;
	padding-left: 10px;
	top:250px;
	bottom: 0;
	right:0;
	padding-right: 100px;
	background: white;

}
.presentation h1,h2
{
	font-family: "soy";
	font-size: 1.7em;
	text-align: center;
}
.nav
{
	width: 280px;
	top:0;
	padding-top: 250px;
	padding-left: 100px;
	position: fixed;
	z-index: 1001;
	padding-right: 0;
	background: white;
}
.nav ul
{
	margin-top: 0;
	list-style-type: none;
    position: fixed;
    overflow: auto;
    width: 280px;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.nav a
{
	padding: 8px;
	display: block;
	width: 250px;
	text-decoration: none;
	margin: auto;
	color: black;
	font-family: "seeds";
	font-size: 1.7em
}
.nav a:hover
{
	color: white;
}
.nav li
{
	display: flex;
	justify-content: space-around;
	float: left;
}
.accueil:hover
{
	background: #00b79b;
}
.accueil a
{
	color: #00b79b;
}
.soutenances:hover
{
	background: #70cba4;
}
.soutenances a
{
	color: #70cba4;
}
.downloads:hover
{
	background: #ebe70e ;
}
.downloads a
{
	color: #ebe70e ;
}
.graphismes:hover
{
	background: #f75112;
}
.graphismes a
{
	color: #f75112;
}

.progression:hover
{
	background: #e3c900;
}
.progression a
{
	color: #e3c900;
}
.soutenances_ul
{
	display: flex;
	background: white;
	list-style-type: none;
	justify-content: space-around;
	font-family: "lgc";
	font-size: 1.7em;
}

footer
{
	display: flex;
	flex-direction: column;
	border:solid;
	border-color: gray;
	z-index: 1001;
	height: 20%;
}
footer h1
{
	text-align: center;
}
footer p
{
	text-align: center;
}